*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  line-height: 1.6;
  background-color: var(--color-white);

  overflow-y: auto;
  perspective: 2px;
  /* <-- This line */
}

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] 77vw [center-end] 1fr [full-end];
  grid-template-rows: 100vh;
}

.nav {
  height: 5vh;
}