*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-black);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
  @media (max-width: 75em) {
    font-size: 50%;
  }
}

body {
  line-height: 1.6;
  background-color: var(--color-white);
}

.container {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] 77vw [center-end] 1fr [full-end];
  position: relative;
  z-index: 0;
}

.nav {
  height: 5vh;
}
