*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-black);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
  @media (max-width: 87.5em) {
    font-size: 50%;
  }
}

body {
  line-height: 1.6;
  background-color: var(--color-white);
}

.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(0, 1fr) [center-start] minmax(90rem, 80vw) [center-end] minmax(
      0,
      1fr
    )
    [full-end];
  position: relative;
  z-index: 0;
  overflow-x: hidden;

  @media all and (max-width: 56.25em) {
    grid-template-columns:
      [full-start] minmax(0, 1fr) [center-start] 90vw [center-end] minmax(
        0,
        1fr
      )
      [full-end];
  }
}
