a,
a:visited,
a:active {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  font-family: $default-font;
  color: var(--color-black);
}

.container {
  background-color: var(--color-white);
}

.heading-primary {
  color: var(--color-white);
  text-transform: uppercase;

  &--main {
    font-size: 10rem;
    font-family: $fancy-font;
    letter-spacing: 1rem;
  }

  &--sub {
    font-size: 2rem;
    letter-spacing: 2rem;
  }

  &--add {
    font-size: 2rem;

    &:hover {
      color: black;

      &::after {
        height: 100%;
      }
    }
  }
}

.nav {
  font-size: 2rem;
}

.nav--mobile {
  font-size: 4rem;
}

.motto {
  background-color: var(--color-white);
  &__text {
    font-family: $fancy-font;
    font-size: 5rem;
    text-align: center;
  }
}

.about {
  background-color: var(--color-white);
  &__title {
    font-size: clamp(2rem, 8vw, 6rem);
    font-weight: bold;
  }

  // font-size: 2rem;
  font-size: clamp(1rem, 4vw, 2rem);
  // line-height: normal;
  text-align: justify;
}

.menu {
  background: linear-gradient(var(--color-black), #333, var(--color-black));
  color: var(--color-white);

  &__title {
    font-size: 6rem;
    font-weight: bold;
  }

  .slide {
    &__content {
      &__title {
        font-size: 4rem;
        justify-self: center;
        font-family: $fancy-font;
        line-height: 1;
      }

      &__list {
        list-style: none;
        font-size: 2rem;
        @media (max-width: 56.25em) {
          font-size: 1.5rem;
        }

        // background-color: red;
        .item {
          &__line {
            width: 100%;
            border-bottom: solid 1px;
            transform: translateY(-1rem);
          }
        }
      }
    }
  }
}

.events {
  background-color: var(--color-white);

  &__title {
    font-size: 6rem;
    font-weight: bold;
    position: relative;
  }

  .card {
    color: var(--color-white);

    &--back,
    &--front {
      background-color: var(--color-accent);
    }

    &__title {
      font-size: clamp(2rem, 4vw, 4rem);
      text-align: center;
    }

    &__theme {
      font-size: clamp(2rem, 1.75vw, 4rem);
      font-weight: bold;
    }

    &__time {
      font-size: clamp(1.5rem, 2vw, 2.5rem);
      text-align: center;
    }

    &__desc {
      font-size: clamp(1.5rem, 1.25vw, 2rem);
      line-height: 2;
      text-align: center;
    }

    // @media (max-width: 100em) {
    //   &__title {
    //     font-size: 1.5rem;
    //     text-align: center;
    //   }
    //   &__theme {
    //     font-size: 2rem;
    //     font-weight: bold;
    //   }
    //   &__time {
    //     font-size: 1.5rem;
    //     text-align: center;
    //   }

    //   &__desc {
    //     font-size: 1.5rem;
    //     line-height: 2;
    //     text-align: center;
    //   }
    // }

    &--front {
      .card__theme {
        color: var(--color-accent-light);
      }
    }
    &--back {
      .card__theme {
        color: var(--color-black);
        text-align: center;
      }
    }
  }
}
