:root {
  ///////// LEGACY
  // --color-black: #0d0000;
  // --color-white: #f3e1d5;

  --color-black: rgb(15, 15, 15);
  // --color-white: #ffece0;
  --color-white: #fff6f1;
  --color-accent: #570f1b;
  --color-accent-light: #aa011d;
}

$default-font: Montserrat, sans-serif;

$fancy-font: Pacifico, cursive;

$color-black: rgb(15, 15, 15);
$color-accent: #570f1b;
$color-accent-light: #aa011d;