@keyframes move-left {
  0% {
    transform: translate(40vw, -100%) rotate(90deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
@keyframes move-right {
  0% {
    transform: translate(-40vw, -100%) rotate(-90deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@keyframes fadein-left {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes fadein-right {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.about {
  grid-column: center-start / center-end;

  padding-top: 10vh;
  padding-bottom: 20vh;

  width: 90rem;
  align-self: center;
  justify-self: center;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 4rem;

  @media (max-width: 56.25em) {
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    width: 100%;
    min-height: 90vh;
    row-gap: 1rem;
  }

  .hand-float-left {
    animation: move-right 6s ease;
    animation-fill-mode: forwards;
  }
  .hand-float-right {
    animation: move-left 6s ease;
    animation-fill-mode: forwards;
  }

  .fadein-left {
    animation: fadein-left 2s;
  }

  .fadein-right {
    animation: fadein-right 2s;
  }

  &__title {
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    position: relative;

    &--before {
      height: 150%;
      width: auto;
      top: -40%;
      left: -80%;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(-40vw, -100%) rotate(-90deg);
    }

    &--after {
      height: 150%;
      width: auto;
      top: -40%;
      position: absolute;
      background-image: contain;
      background-repeat: no-repeat;
      transform: translate(40vw, -100%) rotate(90deg);
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__slider {
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;

    overflow: hidden;

    position: relative;

    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 1s;
      object-fit: cover;

      border-radius: 4rem;

      &.slide--active {
        opacity: 1;
      }
    }

    &--dot-box {
      width: 70%;
      height: 5rem;
      position: absolute;
      display: flex;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      justify-content: space-between;
      align-items: center;
    }

    .dots {
      width: 1.5rem;
      height: 1.5rem;
      background-color: #666;
      -webkit-mask: url('../../img/misc/dot.png');
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      // border-radius: 50%;
      cursor: pointer;

      &.dot--active {
        background-color: #fff;
      }
    }

    @media all and (max-width: 56.25em) {
      grid-row: 3/4;
      width: 100%;
      aspect-ratio: 1;
    }
  }
}
