@keyframes zoom-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.events {
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;

  &__title {
    text-align: center;
    &::after {
      content: '';
      z-index: 2;
      position: absolute;
      background-image: url('../img/misc/tasting.png');
      background-repeat: no-repeat;
      background-size: contain;
      top: -50%;
      right: -35%;
      width: 25rem;
      height: 25rem;
    }
  }

  &__box {
    min-height: 80vh;
    margin-top: 4rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @media (max-width: 56.25em) {
      grid-template-columns: 1fr;
    }
  }
}

.zoom-in-animation {
  animation: zoom-in 2s;
  animation-fill-mode: forwards;
}
.card {
  perspective: 200rem;
  -moz-perspective: 200rem;
  transform-style: preserve-3d;
  transition: all 0.5s;
  position: relative;
  transform: scale(0);

  z-index: 2;

  @media (max-width: 56.25em) {
    min-height: 60vh;
    width: 100%;
    align-self: center;
    justify-self: center;
  }

  &__title {
    position: absolute;
    top: 4rem;
  }

  &__theme {
    transform: translateZ(5rem);
    width: 80%;
  }

  &__time {
    position: absolute;
    bottom: 4rem;
  }

  &--front,
  &--back {
    perspective: 50rem;
    -moz-perspective: 50rem;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    transition: all 0.8s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--front {
    transform: rotateY(0deg) scale(0.9) translateZ(1px);
    z-index: 2;
  }

  &--back {
    transform: rotateY(-180deg) scale(0.9) translateZ(1px);
    z-index: 1;
    padding: 2rem;
  }

  &:hover &--front {
    transform: rotateY(180deg) scale(1) translateZ(1px);
  }

  &:hover &--back {
    transform: rotateY(0deg) scale(1) translateZ(1px);
  }
}

.tasting {
  .card--front {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('../../img/events/tasting.jpg');
    background-size: cover;
  }
}

.private-tasting {
  .card--front {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('../../img/events/private-tasting.jpg');
    background-size: cover;
  }
}

.casino {
  .card--front {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url('../../img/events/casino.jpg');
    background-size: cover;
  }
}
