.footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 20vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &__placeholder {
    grid-column: full-start / full-end;
    height: 20vh;
  }
}
