.menu {
  padding: 5rem 0 5rem;
  grid-column: full-start / full-end;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .slide {
    width: 70vw;
    min-height: 80vh;

    @media (max-width: 56.25em) {
      min-height: 90vh;
      width: 90vw;
    }

    opacity: 0;

    transform: translateX(0%) scale(0.6);
    transition: transform 0.8s ease, opacity 0.8s ease 0.2s;

    position: absolute;

    &__content {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 2rem;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
      display: grid;
      grid-template-rows: 10rem;

      // color: white;

      &__list {
        .item {
          display: grid;
          gap: 1rem;
          grid-template-columns: max-content 1fr 8ch;

          @media (max-width: 56.25em) {
            display: grid;
            grid-template-columns: 1fr 8ch;
            gap: 0;
            &__line {
              display: none;
            }
            &__price {
              justify-self: end;
            }
            // &:not(:last-child) {
            //   margin-bottom: 1rem;
            // }
          }
        }
      }
    }

    &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      filter: blur(0.5px) brightness(0.2);
      // background-size: contain no-repeat;
      // background-size: cover no-repeat;
    }

    &.prev {
      transform: translateX(-80%) scale(0.8);
      z-index: 2;
    }

    &.curr {
      transform: translateX(0%) scale(1);
      z-index: 3;
      box-shadow: 0 1rem 4rem rgba($color: #000, $alpha: 1);
    }

    &.next {
      transform: translateX(80%) scale(0.8);
      z-index: 1;
    }

    &.prev,
    &.curr,
    &.next {
      transition: transform 0.8s ease, opacity 0.8s ease 0.2s;
      opacity: 1;
    }

    &.prev,
    &.next {
      cursor: pointer;
      filter: blur(1px);
    }

    &.starter {
      .slide__bg {
        background: url('../img/menu/starter.JPG');
        background-size: cover;
        background-position: 50% 70%;
      }
    }

    &.desert {
      .slide__bg {
        background: url('../img/menu/desert.jpg');
        background-size: cover;
        background-position: 50% 60%;
      }
    }

    &.hot {
      .slide__bg {
        background: url('../img/menu/hot.webp');
        background-size: cover;
        background-position: 50% 45%;
      }
    }

    &.cold {
      .slide__bg {
        background: url('../img/menu/cold.JPG');
        background-size: cover;
        background-position: 50% 45%;
      }
    }

    &.drinks {
      .slide__bg {
        background: url('../img/menu/drinks.webp');
        background-size: cover;
        background-position: 50% 65%;
      }
    }
  }

  &__slider {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;

    position: relative;
  }
}
