.motto {
  grid-column: full-start / full-end;

  padding: 10rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before,
  &::after {
    content: '';
    position: relative;

    background-color: var(--color-black);
    width: 60vw;
    height: 1px;
  }

  &__text {
    width: 50vw;
    padding: 2rem 0;
  }
}